@import "common";

.icon-loader {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -217px;

}

.icon-loader > img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  padding: 1rem 1rem 2rem 1rem;
filter: drop-shadow(1px -4px 14px rgb(13, 231, 133)) brightness(120%);
  -webkit-filter: drop-shadow(1px -4px 14px rgb(13, 231, 133)) brightness(120%);
}



