@import "common";

.icon-loader {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -217px;

}

.icon-loader > img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  filter: drop-shadow(0px -25px 60px rgb(11, 220, 126, 1));
}