@import "common";

.dialog__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #1a1a1a;
}

.dialog .MuiDialog-paper {
  background-color: transparent;
  @include box-shadow;
}

@media screen and (max-width: 600px) {
  .box-statuses {
    text-align: center;
  }
}