@import "common";

.box-details {
  width: auto;
  background-color: $font-color;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2px;
  @include box-shadow;


  p {
    margin: 0;
    align-self: center;
    font-size: 1.2rem;
  }

  form {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    #name, .sBtn-text {
      cursor: pointer;
      border-radius: 2px;
      width: 43%;
      font-size: 1rem;
      position: absolute;
      left: 35%;
      padding: .4rem;
      background-color: transparent;
      border: 1px solid $primary-color;
      color: $primary-color;
      &:hover{
        border: 1px solid $primary-green-color;
      }
    }
.date-picker {
  border-radius: 2px;
  position: absolute;
  left: 35%;
  width: 60%;
  input{
    padding: 0.4rem;

  }
}
    label {
      font-size: 1.1rem;
      padding: .6rem .4rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    textarea {
      width: 100%;
      font-size: 1rem;
      position: relative;
      border-radius: 2px;
      background-color: transparent;
      border: 1px solid $primary-color;
      color: $primary-color;
      margin-top: 1rem;
      &:hover{
        border: 1px solid $primary-green-color;
      }
    }
  }

  .submit-btn {
    align-self: center;
  }

  .select-menu {

    .select-btn {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      width: 70%;

      .sBtn-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $primary-color;
        text-align: center;
        border-radius: 2px;

        .fa-angle-down {
          margin: 0;
          margin-left: .2rem;
          width: 20%;
          height: auto;
          transition: .3s;
        }
      }
    }

    .options {
      position: absolute;
      right: 19.5%;
      top: 56%;
      padding: 0 ;
      background-color: $font-color;
      z-index: 2;
      width: 5rem;
      margin: 0;
      border: 1px solid $primary-color;
      display: none;
      border-radius: 2px;


      .option {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        text-align: center;
        width: 100%;
        &:hover {
          background-color: rgba(6, 110, 62, .2);
        }
        span {
          padding: .2rem;
          border-radius: 2px;
        }
      }
    }
  }
  .select-menu.active {
    .options {
      display: block;
    }
    .fa-angle-down {
      transform: rotate(180deg);
      transition: .3s;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.btn-close {
  background: #023b21;
  border-radius: 50%;
  margin-inline: 0;
}

@media screen and (max-width: 600px) {
  .dialog .box-dialog{
    width: 100vw;
    border-radius: 0;

  }
  .MuiIconButton-root {
    position: relative;
    z-index: 1;
  }
  .box-details {
    width: auto;
    padding: .5rem;

    p {
      margin-top: .5rem;
    }

    form {
      width: 100%;

      label {
        font-size: 1rem;
        padding: .3rem;
        justify-content: flex-start;
        margin-bottom: .5rem;

      }
.date-picker{
  width: 50%;
}
      .date-picker-box{
        width: 100%;
      }
      #name, .sBtn-text {
        cursor: pointer;
        border-radius: 5px;
        width: 46%;
      }

    }

    #notes {
      width: 100%;
      font-size: .8rem;
      background-color: transparent;
      border: 1px solid black;
      color: black;
    }
  }
  .flex {
    width: 100%;
  }

}