@import "common";

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  & p {
    margin-inline: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.box-container {
  display: flex;
  flex-direction: column;
}

.box-sections {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-wrapper1 {
  @include box-wrapper;
  margin-bottom: 2rem;
}

.box-wrapper2 {
  @include box-wrapper;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  margin: .6rem;
}

.box {
  & .fa-horse-head, .fa-house-circle-check, .fa-house-circle-exclamation, .fa-circle-radiation {
    padding: 0 0 .5rem 0;
  }
}
.box-icon-modal{
  cursor: pointer;
  transition: .2s;
  &:hover{
    -webkit-box-shadow: 1px 1px 69px 14px rgba(0,0,0,0.81);
    -moz-box-shadow: 1px 1px 69px 14px rgba(0,0,0,0.81);
    box-shadow: 1px 1px 69px 14px rgba(0,0,0,0.81);
  }
}
.box-info-btn {
  font-size: .7rem;
  font-style: italic;
  margin-top: 0;
  margin-bottom: .2rem;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);

  & p {
    margin: 0;
  }
}

.add-box, .del-box {
  width: 4rem;
  height: 4rem;
}

.fa-horse-head {
  color: rgba(159, 12, 45, 0.94);
  @include legend-icon
}

.fa-house-circle-check {
  color: #157e02;
  @include legend-icon
}

.fa-house-circle-exclamation {
  color: #dc5c04;
  @include legend-icon
}

.fa-circle-radiation {
  color: #b2f13c;
  @include legend-icon
}

.fa-plus, .fa-minus {
  @include legend-icon
}

@media screen and (max-width: 600px) {
  .box-sections {
    margin-top: 5rem;

  }

  .box-wrapper1 {
    margin: 0;
    padding: 0;
    transform: rotate(90deg);
    position: absolute;
    top: 72rem;
    left: -29rem;
  }

  .box-wrapper2 {
    margin: 0;
    padding: 0;
    transform: rotate(90deg);
    position: absolute;
    top: 72rem;
    left: -19rem;
  }

  .box {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
  }

  .box .fa-horse-head,
  .box .fa-plus,
  .box .fa-minus,
  .box .box-info-btn,
  .box .fa-house-circle-check,
  .box .fa-house-circle-exclamation,
  .box .fa-circle-radiation {
    transform: rotate(-90deg);
    margin-inline: 0.2rem;
    margin-bottom: 0;
    width: 90%;
  }
}