@import "common";

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  & p {
    margin-inline: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


.box-sections {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.box-wrapper1 {
  @include box-wrapper;
  margin-bottom: 2rem;
}

.box-wrapper2 {
  @include box-wrapper;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  margin: .6rem;
  padding: .8rem .4rem 0 .4rem;

}

.box {
  & .fa-horse-head, .fa-house-circle-check, .fa-house-circle-exclamation, .fa-circle-radiation {
    padding: 0 0 1rem 0;
    font-size: 2.4rem;
  }
}
.box-icon-modal{
  cursor: pointer;
  transition: .2s;
  &:hover{
    -webkit-box-shadow: 1px 1px 69px 14px rgba(0,0,0,0.81);
    -moz-box-shadow: 1px 1px 69px 14px rgba(0,0,0,0.81);
    box-shadow: 1px 1px 69px 14px rgba(0,0,0,0.81);
  }
}
.btn.box-info-btn {
  font-size: .7rem;
  font-style: italic;
  margin-top: 0;
  margin-bottom: .5rem;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);

  & p {
    margin: 0;
  }
}

.add-box, .del-box {
  width: 4rem;
  height: 4rem;
}

.fa-horse-head {
  color: rgba(159, 12, 45, 0.94);
  @include legend-icon
}

.fa-house-circle-check {
  color: #157e02;
  @include legend-icon
}

.fa-house-circle-exclamation {
  color: #dc5c04;
  @include legend-icon
}

.fa-circle-radiation {
  color: #b2f13c;
  @include legend-icon
}

.fa-plus, .fa-minus {
  @include legend-icon
}

@media screen and (max-width: 600px) {
  .box-sections {
    margin-top: 5rem;
  }
  .box-sections {
    flex-direction: row;
    height: auto;
  }
  .btn.box-info-btn {
  margin-top: .5rem;
  }
    .box-wrapper1 {
    //margin: 0;
    //padding: 0;
    //transform: rotate(90deg);
    //position: relative;
    //top: 7.5rem;
    //left: 5.5rem;
    flex-direction: column;
      margin-bottom: 0;

  }

  .box-wrapper2 {
    //margin: 0;
    //padding: 0;
    //transform: rotate(90deg);
    //position: relative;
    //top: -1rem;
    //left: -5em;
    flex-direction: column;
    margin-top: 0 ;
  }

  .box {
    //flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    min-width: 6rem;
    min-height: 6rem;
  }
  .box {
    & .fa-horse-head, .fa-house-circle-check, .fa-house-circle-exclamation, .fa-circle-radiation {
      padding: .5rem;
      font-size: 2rem;

    }
  }
  .box .fa-horse-head,
  .box .fa-plus,
  .box .fa-minus,
  .box .box-info-btn,
  .box .fa-house-circle-check,
  .box .fa-house-circle-exclamation,
  .box .fa-circle-radiation {
    //transform: rotate(-90deg);
    //margin-inline: 0.2rem;
    //margin-bottom: 0;
    width: 90%;
  }
}