@import "common";

.clinics {
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  background-color: transparent;
  @include flex-center-col;
}

 .clinic-form {
  @include form-container
}
.clinic-select{
  width: 100%;
  margin-bottom: 20px;
}
select#clinic {
  margin-top: .6rem;
  width: 100%;
  @include input-style;

}

label {
  width: 100%;
  font-size: 1.5rem;
}



.clinic-add {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  & button {
    margin-top: 1rem;
    padding-inline: 3rem;
    width: 25%;
  }
   .input-add{
    height: auto;
     box-sizing: border-box;

     @include input-style;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.option-btns {
  @include form-btns;
  padding: .6rem;
  margin-top: 1rem;
}

.input-edit {
  width: 100%;
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

.box-container{
  height: auto;
}
@media screen and (max-width: 600px) {
.clinics{
width: 100%;
  border-radius: 0;
}
  .MuiContainer-root{
    padding: 0;
    margin: 0 auto;
  }
  .clinic-form {
  width: 100%;
    #clinic, .input-add{
      width: 90%;
    }
  }
  .clinic-add button{
    width: 35%;
  }
}
