$primary-color: rgb(85, 85, 96);
$primary-green-color: rgba(6, 110, 62, 0.56);
$font-color: rgb(255, 255, 255);
$primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$secondary-font: 'Kanit', sans-serif;

#root {
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(180deg, rgba(5, 86, 49, 1) 4%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 60%, rgba(5, 86, 49, 1) 100%);
  background-color: transparent;
}


:root {
  font-family: $primary-font;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only light dark;
  color: $font-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: black;


}
@media screen and (max-width: 600px){
  #root  {
    background: linear-gradient(180deg, rgb(5, 49, 29) 10%, rgba(0, 0, 0, 1) 40%);
    background-repeat: no-repeat;
  }

}

body {
  margin: 0 auto;
  box-sizing: border-box;
  place-items: center;
  min-height: 100vh;


}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: inherit;
}

a:hover, {
  color: $primary-green-color;
}

h1 {
  line-height: 1.1;
}

.btn {
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 2px 2px 25px 0px rgba(6,110,62,1);
  -moz-box-shadow: 2px 2px 25px 0px rgba(6,110,62,1);
  box-shadow: 1px 1px 5px 0px rgba(6,110,62,1);
  padding: .6em .8em;
  color: $font-color;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #212321;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: .5rem
}

button:hover {
  border-color: $primary-green-color;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@mixin flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin form-container {
  width: 40%;
  margin-bottom: 20px;
}

@mixin input-style {
  padding:  .8rem;
  font-size: 1.2rem;
  text-align: left;
}

@mixin box-shadow {
  border: 1px solid transparent;
  box-shadow: 10px 10px 300px 0 rgba(6, 110, 62, 1);
}

@mixin form-btns {
  position: relative;
  top: -10px;
}

@mixin legend-icon {
  text-shadow: 1px 1px 2px black;
  font-size: 2rem;
  padding: .5rem;
}

@mixin box-wrapper {
  //width: 100vw;
  height: auto;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}