@import "common";

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  font-family: $primary-font;
  margin-top: 8rem;

  & p {
    font-family: $primary-font;
    margin: 0;
    color: $font-color;
  }

  & a[href] {
    font-family: $secondary-font;
    color: $font-color;
    text-shadow: 0 0 15px rgb(85, 85, 96);
    transition: text-shadow 300ms, color 300ms;
  }

  & a[href]:hover {
    color: #1a1a1a;
    text-shadow: 0 0 15px rgba(6, 110, 62, 1);
  }
}

.mailto {
  text-decoration: overline;
  margin-top: .6rem;
}

@media screen and (max-width: 600px) {
  footer {
    display: none;
  }
}