@import "common";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;

  .fa-solid.fa-hospital-user {
    font-size: 3rem;
    margin-right: 1rem;
    text-decoration: none;
    color: $font-color;
  }
    #basic-button {
      outline: none;
      padding: 0;
      box-shadow: none;
      padding-inline: 1rem;

      &:focus{
        outline: none;
      }
      &:hover{
       -webkit-box-shadow: 1px 1px 5px 0px rgba(6,110,62,1);
        -moz-box-shadow: 1px 1px 5px 0px rgba(6,110,62,1);
        box-shadow: 1px 1px 5px 0px rgba(6,110,62,1);
        background-color: transparent;
      }
    }

  .fa-house-medical {
    margin-right: 1rem;
  }

  h1 {
    padding: 1rem;
    font-family: $secondary-font;
    font-size: 3.7rem;
  }

  h2 {
    font-size: 1.5rem;
    font-family: $secondary-font;
    text-transform: none;
    color: whitesmoke;
  }
}

.user-icon {
  display: flex;
  flex-direction: column;
}


#basic-menu > div.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
  background-color: transparent;

}

#logout {

  border-radius: 5px;
  border: 1px solid transparent;
  padding: .6em .8em;
  color: $font-color;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: .5rem;
  font-family: $primary-font;

}

@media screen and (max-width: 600px) {
  header {
    justify-content: space-around;
    align-items: baseline;
    padding: 0;
    & .logo {
      align-self: flex-start;
    }

    & h1 {
      font-size: 1.5rem;
      margin: .6rem auto;
      padding: 0.5rem;
    }

    & .user-icon {
      align-self: flex-end;
    }

    & h2 {
      font-size: 1.1rem;
    }

    & .fa-hospital-user {
display: none    }
  }
}