@import "common";
#root {
 box-sizing: border-box;
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: $font-color;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: inherit;
}

a:hover {
  color: $primary-color;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .6em .8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: .5rem
}

button:hover {
  border-color: $primary-color;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.loader {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 50%;
}

.loader > img {
  width: 10rem;
  height: 10rem;
filter: drop-shadow(0px -25px 40px rgba(6, 110, 62, 1));
}


//@media (prefers-color-scheme: light) {
//  :root {
//    color: #213547;
//    background-color: #ffffff;
//  }
//
//  a:hover {
//    color: $primary-color;
//  }
//
//  button {
//    background-color: #f9f9f9;
//  }
//}
//@media screen and (max-width: 767px) {
//  #root {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//  }
//
//}