@import "common";

.login-box {

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 2rem;
    @include box-shadow;

    & input {
      text-align: left;
      max-width: 80%;
    }

  }
  & label{
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    font-size: 1.4rem;
  }
}

.login-page {

  & button {
    font-size: 1.4rem;
    margin: 0.5rem;
  }

  input {
    padding: 0.6rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 0.5rem;
  }
}


.animated-box {
  -webkit-animation: slide-out-bck-center 500ms ease-in both;
  animation: slide-out-bck-center 500ms ease-in both;

}

@-webkit-keyframes slide-out-bck-center {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-1100px);
    opacity: 0;
  }
}

@keyframes slide-out-bck-center {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  .login-box {
    width: 100%;
    & input{
      text-overflow: ellipsis;
      width: 100%;
      font-size: 1rem;
    }
    & label{
      font-size: 1.2rem;
    }
  }

}